.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notes__appbar {
  align-items: center;
  background-color: $primary;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.note__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 2rem;
}
.notes__title-input,
.notes__textarea {
  border: 1px #c8c8c8 solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  &:focus {
    outline: none;
  }
}
.notes__title-input {
  font-size: 25px;
  font-weight: 700;
}

.notes__textarea {
  font-size: 20px;
  flex: 1 1 auto;
  margin-top: 0.5rem;
  resize: none;
}

.notes__image img {
  border: 1px #c8c8c8 solid;
  border-radius: 0.5rem;
  max-height: 500px;
  margin-top: 0.5rem;
}
